<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index vale ka backup hai...</title>
</head>
<body>
<h1> WELCOME!!!.....</h1>
<h2>Enter your Text..</h2>
<form action="/analyze" method="get"> <textarea name='text' style='margin: 0px; width: 638px; height: 138px;'> </textarea>
    <br> <br>
    <input type="checkbox" name="removepunc">Remove Punctuation <br><br>
    <input type="checkbox" name="fullcaps">Capitalize<br><br>
    <input type="checkbox" name="NewLine">NewLine Remover<br><br>
    <button type='submit' > Analyze Text</button>
</form>

</body>
</html>